{%extends "base.html"%}

{% set _class= _class %}
{% set ariacurrent = ariacurrent%}

{%block style%}
<style>
    body{
        overflow-y: scroll;
    }
</style>
{%endblock%}
{%block content%}
<div  class=" full-width user-content">
    <div class="float-left">
        <div class="container">
            <center>
                <img class="rounded-circle"
                    src="{{url_for('static', filename='img/profile/'+current_user.image_file)}}">
            </center>
            <div class="user-content p-3">
                <h2>{{ current_user.username }}</h2>
                <p>{{ current_user.email }}</p>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Update Account Information
                </button>


                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog  modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Update Account Information</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="">
                                    {{form.hidden_tag()}}
                                    <fieldset class="form-group">
                                        <div class="form-group">
                                            {{form.username.label(class="form-control-label")}}

                                            {%if form.username.errors%}
                                            {{form.username(class="form-control form-control-md is-invalid") }}
                                            <div class="invalid-feedback">
                                                {%for error in form.username.errors%}
                                                <span>{{error}}</span>
                                                {%endfor%}
                                            </div>
                                            {%else%}
                                            {{form.username(class="form-control form-control-md") }}
                                            {%endif%}
                                        </div>
                                        <div class="form-group">
                                            {{form.email.label(class="form-control-label")}}

                                            {%if form.email.errors%}
                                            {{form.email(class="form-control form-control-md is-invalid") }}
                                            <div class="invalid-feedback">
                                                {%for error in form.email.errors%}
                                                <span>{{error}}</span>
                                                {%endfor%}
                                            </div>
                                            {%else%}
                                            {{form.email(class="form-control form-control-md") }}
                                            {%endif%}
                                        </div>
                                        <div class="form-group">
                                            {{form.password.label(class="form-control-label")}}

                                            {%if form.password.errors%}
                                            {{form.password(class="form-control form-control-md is-invalid") }}
                                            <div class="invalid-feedback">
                                                {%for error in form.password.errors%}
                                                <span>{{error}}</span>
                                                {%endfor%}
                                            </div>
                                            {%else%}
                                            {{form.password(class="form-control form-control-md") }}
                                            {%endif%}
                                        </div>
                                        <div class="form-group">
                                            {{form.confirm_password.label(class="form-control-label")}}

                                            {%if form.confirm_password.errors%}
                                            {{form.confirm_password(class="form-control form-control-md is-invalid") }}
                                            <div class="invalid-feedback">
                                                {%for error in form.confirm_password.errors%}
                                                <span>{{error}}</span>
                                                {%endfor%}
                                            </div>
                                            {%else%}
                                            {{form.confirm_password(class="form-control form-control-md") }}
                                            {%endif%}
                                        </div>
                                        <span class="form-group pt-2" > 
                                            {{form.submit(class="btn btn-primary")}}
                                        </span>
                                        

                                    </fieldset>

                                </form>.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {%endblock content%}