{%extends "base.html"%}

{% set _class= _class %}
{% set ariacurrent = ariacurrent%}



{%block content%}


<div class="container">
    <form name="show_poll" id="show_poll" method="POST">
        <fieldset class="form-group form-field">
            <legend id="poll-legend"> {{poll.title}}</legend>
            <label for="email">Please enter an email address</label>
            <div class="form-group">
                
                <div class="form-control form-control-md">

                    <input type="email" class="form-control" name="email"  placeholder="Enter your email" required>
                </div>
            </div>
        
            <label id="show_poll" for="email">Please choose an option</label>
            {%for i in poll.options_votes.keys()%}
            <div class="form-check">
                <div class="form-group">
                    <input class="form-check-input" type="radio" name="option" id="option_{{i}}" value="{{i}}">
                    <label class="form-check-label" for="option_{{i}}">
                        {{i}}
                    </label>
                </div>


            </div>
            {%endfor%}
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>

</div>

{%endblock content%}