.nav-item{
    font-size: 23px;
}
.brand-name{
    font-family:cursive;
    font-size: 50px;
    color:black;
    
}
#ac-wrapper{
    width:max-content;
       
}
.card-text{
    width:100%;
       
}
.btn-close{
    float: right;
}

.container-fluid{
    padding-left: 5%;
    padding-right: 5%;
}
._myform{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    width: auto;
    padding-top: 1%;
    padding-bottom: 2%;
    background-color: aliceblue;
    
}

.card{
    margin-top: 12px;
    width: 100%;
}

