.nav-item{
  font-size: 23px;
}
.brand_name{
  font-family:cursive;
  font-size: 40px;
  color:aliceblue;
  
}
#Navbar{
  align-self:flex-end;
}
.container-fluid{
  padding-left: 5%;
  padding-right: 5%;
}
._myform{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  width: auto;
  padding-top: 1%;
  padding-bottom: 2%;
  background-color: aliceblue;
  
}

.card{
  margin-top: 12px;
  width: 100%;
}

