.nav-item{
    font-size: 30px;
}
.brand-name{
    font-family:cursive;
    font-size: 50px;
    color:aliceblue;
    
}
.container-fluid{
    padding-left: 5%;
    padding-right: 5%;
}
._myform{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3%;
    width: auto;
    padding-top: 1%;
    padding-bottom: 2%;
    
}