<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main.css')}}">

    <title>Votacion</title>
    
    <style>
        body {
            background:url("{{url_for('static',filename='img/main.png')}}") no-repeat center center fixed;
            background-size: cover;
            height: 100%;
            overflow: hidden;
        }
        
    body {
        overflow-y: scroll;
    }

    </style>
    {%block style%}{%endblock%}
    {%block script%}{%endblock%}




</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img src="{{url_for('static',filename='img/logo.jpg')}}" width="70" alt="logo"
                class="img-fluid img-thumbnail">
            <div class="brand-name">
                Votacion
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav  mb-2 mb-lg-0">
                    {%if current_user.is_authenticated%}
                        <li class="nav-item">
                            <img class="rounded-circle-nav-bar"  src="{{url_for('static', filename='img/profile/'+current_user.image_file)}}">  
                        </li> 
                        <li class="nav-item">
                            <h5 class=" mt-2 pt-1 me-2 username">Hi, {{current_user.username}}</h5>
                        </li>
                        <li class="nav-item">
                            <a class="{{_class[0]}}" {{ariacurrent[0]}} href={{url_for('votacion.home')}}>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="{{_class[1]}}" {{ariacurrent[1]}} href={{url_for('votacion.profile')}}>Profile</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link" href={{url_for('votacion.logout')}}>Logout</a>
                        </li>
                       
                    {%else%}
                        <li class="nav-item">
                            <a class="{{_class[0]}}" {{ariacurrent[0]}} href={{url_for('votacion.home')}}>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="{{_class[1]}}" {{ariacurrent[1]}} href={{url_for('votacion.login')}}>Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="{{_class[2]}}" {{ariacurrent[2]}} href={{url_for('votacion.signup')}}>Sign Up</a>
                        </li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </nav>

    <main role="main" class="container">


        {% with messages = get_flashed_messages() %}
        {% if messages %}
       
          <div class="offcanvas offcanvas-top show" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
          <div class="offcanvas-header">
            <h5 id="offcanvasTopLabel">Message</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            {{messages[0]}}
          </div>
        </div>
        
        {% endif %}
        {% endwith %}
        <div>
            {% block content %}{% endblock %}
        </div>



    </main>



    <!-- Bootstrap Bundle with Popper -->->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>